{% extends "layout.html" %}
{% block heading %}
        Frist Page
{% endblock %}

{% block body %}
<a href="{{ url_for('more') }}">Click Here</a>
        <h1>{{ headline }}</h1>
        {%if new_yaer %}
        <h2>Yes! Happy New Year.</h2>
        {% else %}
        <h2>No, Today is not Happy New Year.</h2>
        {% endif %}
        <h1>Names </h1>
        <ul>
            {% for name in names %}
            <li>
                {{ name }}
            </li>
            {% endfor %}
        </ul>

        <ul>
            {% for note in notes %}
            <li>{{ note }}</li>
            {% endfor %}
        </ul>
        <form action="{{ url_for('index') }}" method="post">
           <input type="text" name="note" placeholder="Enter Note Here">
           <button>Add Note</button>
       </form>
       <form action="{{ url_for('hello1') }}" method="post">
           <input type="text" name="name" placeholder="Enter Your Name">
           <button>Submit</button>
       </form>
{% endblock %}